/* h1 {
    color: aqua;
    font-size: 40px;
} 

#first-heading {
    color: blueviolet;
}

.second-heading{
    color: brown;
    font-size: 30px;
}
p {
    color: orangered;
    font-size: 30px;
} 

.box1 .title {
    color: aqua;
} */